Output :https://github.com/djayvok/Andriod-Assignment-8.1/wiki


PreferenceScreen xmlns:android="http://schemas.android.com/apk/res/android" >

    <PreferenceCategory android:title="Settings" >
        <EditTextPreference
                android:title="Password"
                android:summary="Set Your Password"
                android:key="prefUserPassword"/>
    </PreferenceCategory>
     
    <PreferenceCategory android:title="Security Settings" >
        <CheckBoxPreference
            android:defaultValue="false"
            android:key="prefLockScreen"
            android:summary="Lock The Screen With Password"
            android:title="Screen Lock" >
        </CheckBoxPreference>

        <ListPreference
            android:key="prefUpdateFrequency"
            android:title="Reminder for Updation"
            android:summary="Set Update Reminder Frequency"
            android:entries="@array/updateFrequency"
            android:entryValues="@array/updateFrequencyValues"
            />
    </PreferenceCategory>

</PreferenceScreen>



<?xml version="1.0" encoding="utf-8"?>
<resources>
    <string-array name="updateFrequency">
        <item name="1">Daily</item>
        <item name="7">Weekly</item>
        <item name="3">Yearly</item>
        <item name="0">Never(I will Myself) </item>
    </string-array>
    <string-array name="updateFrequencyValues">
        <item name="1">1</item>
        <item name="7">7</item>
        <item name="30">30</item>
        <item name="0">0</item>
    </string-array>
     
</resources>


public class UserSettingActivity extends PreferenceActivity 
{
             
             @Override
             public void onCreate(Bundle savedInstanceState) 
             {
                     super.onCreate(savedInstanceState);
                      // add the xml resource                     addPreferencesFromResource(R.xml.user_settings);
                     

             }

} 


<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:background="#CCCCFF"
    tools:context=".MainActivity" >

    <Button
        android:id="@+id/buttonSettings"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:layout_centerHorizontal="true"
        android:layout_marginTop="150dp"
        android:textSize="25dp"
        android:text="Settings" />

    <TextView
        android:id="@+id/textViewSettings"
        android:textSize="21dp"
        android:textColor="#0000FF"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:layout_centerHorizontal="true"
        android:layout_below="@+id/buttonSettings"
        android:layout_marginTop="66dp"
        android:text="No Settings"
        android:textAppearance="?android:attr/textAppearanceMedium" />

</RelativeLayout>


public class MainActivity extends Activity 
{
            private static final int SETTINGS_RESULT = 1;
            Button settingButton;

              @Override
              protected void onCreate(Bundle savedInstanceState)
              {
                        super.onCreate(savedInstanceState);
                        setContentView(R.layout.main);
                        
                        Button btnSettings=(Button)findViewById(R.id.buttonSettings);
                        // start the UserSettingActivity when user clicks on Button
                        btnSettings.setOnClickListener(new View.OnClickListener() {
                            
                            public void onClick(View v) {
                                // TODO Auto-generated method stub
                                Intent i = new Intent(getApplicationContext(), UserSettingActivity.class);
                                startActivityForResult(i, SETTINGS_RESULT);
                            }
                        });
              }



                @Override
                protected void onActivityResult(int requestCode, int resultCode, Intent data)
                {
                            super.onActivityResult(requestCode, resultCode, data);

                                if(requestCode==SETTINGS_RESULT)
                                {
                                    displayUserSettings();
                                }

                }

                
                private void displayUserSettings() 
                {
                        SharedPreferences sharedPrefs = PreferenceManager.getDefaultSharedPreferences(this);

                        String  settings = "";

                        settings=settings+"Password: " + sharedPrefs.getString("prefUserPassword", "NOPASSWORD");

                        settings=settings+"\nRemind For Update:"+ sharedPrefs.getBoolean("prefLockScreen", false);

                        settings=settings+"\nUpdate Frequency: "
                                + sharedPrefs.getString("prefUpdateFrequency", "NOUPDATE");

                        TextView textViewSetting = (TextView) findViewById(R.id.textViewSettings);

                        textViewSetting.setText(settings);
                 }

}
